<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marceldev.companylunchcomment.mapper.CommentsMapper">

  <resultMap id="CommentsOutputDtoMap"
    type="com.marceldev.companylunchcomment.dto.comments.CommentsOutputDto">
    <result column="id" property="id"/>
    <result column="diner_id" property="dinerId"/>
    <result column="content" property="content"/>
    <result column="created_at" property="createdAt"/>
    <result column="share_status" property="shareStatus"/>
    <result column="memberName" property="commentedBy"/> <!-- member_name으로 하면 인식하지 못함 -->
  </resultMap>

  <sql id="selectListWhere">
    and c.diner_id = #{dinerId}
    and (
    c.share_status = 'COMPANY' or
    (c.share_status = 'ME' and m.name = #{myMemberName})
    )

    <if test="getCommentsListDto.keyword != null">
      and c.content like concat('%', #{getCommentsListDto.keyword}, '%')
    </if>
    <if test="getCommentsListDto.commentedBy != null">
      and m.name = #{getCommentsListDto.commentedBy}
    </if>
  </sql>

  <sql id="selectListSort">
    <choose>
      <when test="sort == 'CREATED_AT_ASC'">
        order by c.created_at asc
      </when>
      <when test="sort == 'CREATED_AT_DESC'">
        order by c.created_at desc
      </when>
    </choose>
  </sql>

  <select id="selectListCount" resultType="long">
    select count(*)
    from comments as c
    left join member as m
    on c.member_id = m.id
    where 1 = 1
    <include refid="selectListWhere"/>
  </select>

  <select id="selectList" resultMap="CommentsOutputDtoMap">
    select c.id,
    c.content,
    c.created_at,
    c.diner_id,
    c.share_status,
    m.name as member_name
    from comments as c
    left join member as m
    on c.member_id = m.id
    where 1 = 1
    <include refid="selectListWhere"/>
    <include refid="selectListSort"/>
    limit #{pageable.pageSize} offset #{pageable.offset}
  </select>
</mapper>